# User config files
.vscode/

# Ignore build artifacts
# CMake build directories
build/
generated/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake

# Ninja build files
/build.ninja
/.ninja_deps
/.ninja_log

# Compiled binaries and libraries
/generated/
/bin/
/lib/
/*.a
/*.so
/*.dll
/*.exe

# Test executables
tests/aemlib_tests

# Logs and temporary files
/*.log
